@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
  box-sizing: border-box;
}

html, body {
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
}

body {
  font-family: 'Open Sans', sans-serif;  
}

.card .delete-comment-form {
  display: none;
}

.card:hover .delete-comment-form {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .1);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}

.btn {
  cursor: pointer;
}


.product-img {
  width: 255px;
  height: 190px;
  object-fit: cover;
}


.new-badge {
  position: absolute;
  top: 8px;
  right: 8px;
}
