* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

html, body, .main-container {
  width: 100%;
  min-height: 100vh;
}

body {
  font-family: Roboto, Arial;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.xo-container {
  border: 1px solid tomato;
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.tile {
  width: 100px;
  height: 100px;
  background-color: tomato;
  margin: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  color: white;
  font-size: 70px;
  cursor: pointer;
}

.winner-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, .3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
}

.winner {
  background-color: tomato;
  color: white;
  width: 500px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.winner h1 {
  margin-bottom: 24px;
}

.play-again {
  background-color: white;
  color: tomato;
  padding: 8px;
  font-weight: bold;
  text-transform: uppercase;
  align-self: flex-end;
  cursor: pointer;
}

.winner-is {
  text-transform: uppercase;
}

.turn {
  font-size: 40px;
  color: tomato;
}

.next-player {
  text-transform: uppercase;
}
